body{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: darkslateblue;
    color: white;
}
button{
    margin-top: 10px;
    padding: 10px;
    border: none;
    text-decoration: none;
    background-color: rgb(222, 216, 250);
    color: black;
    border-radius: 5px;
}
